/* customScrollbar.css */

/* Scrollbar container */
::-webkit-scrollbar {
  width: 5px;
  /* Adjust the width as needed */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #171717;
  /* Dark gray background */
  border-radius: 5px;
  /* Rounded corners */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  /* Gray scroller */
  border-radius: 5px;
  /* Rounded corners */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #959595;
  /* Darker gray on hover */
}